<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Django Remote Scenario</title>
    <link rel="stylesheet" href="{{STATIC_URL}}styles.css">
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{{STATIC_URL}}script.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

  </head>
  <body>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1 class="page-header text-center"> Django Remote Scenario </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h2 class=""> Available Scenarios: </h2>
        {% for app, scenarios in apps.items %}
        <h3 class="text-capitalize">{{ app }}</h3>
        <table class="table-stripped table custom-table table-bordered">
          <thead>
            <th class="scenario">Scenario</th> 
            <th class="actions">Actions</th>
          </thead>
          <tbody>
          {% for scenario in scenarios %}
          <tr>
            <td>{{ scenario }}</td> 
            <td>
              <button class="load-scenario btn btn-primary" type="button" data-scenario={{scenario}} data-app="{{app}}">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                Load
              </button>
              <button  class="btn btn-primary load-scenario load-scenario-flush" type="button" data-scenario={{scenario}} data-app="{{app}}">
                <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                Flush db and Load 
              </button>
            </td>
          </tr>
          {% endfor %}
          </tbody>
          {% endfor %}
        </table>
      </div>
    </div>
    </body>
    </html>
